pkgbase = weyriva-shell-git
	pkgdesc = An independent Quickshell desktop environment for Niri (Git version)
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/LIghtJUNction/weyriva-shell
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = systemd>=254
	depends = niri
	depends = greetd
	depends = quickshell>=0.3
	depends = cage
	depends = foot
	depends = noto-fonts
	provides = weyriva-shell
	conflicts = weyriva-shell
	source = git+https://github.com/LIghtJUNction/weyriva-shell.git
	sha256sums = SKIP

pkgname = weyriva-shell-git
